<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}QuizApp{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'QuizApp/css/style.css' %}">
        <script type="application/javascript" src="{% static 'QuizApp/js/script.js' %}"></script>
    </head>

    <body>
        <nav class="nav-container">
            <h3><a class="QuizApp" href="{% url 'index' %}">QuizApp</a></h3>
            <div class="nav-nav">
                {% if user.is_authenticated %}
                    <div class="nav-item button-take-test">
                        <a href="{% url 'createtest' %}">Create Test</a>
                    </div>
                    <div class="nav-item button-login">
                        <a href="{% url 'index' %}">Tests</a>
                    </div>
                    <div class="nav-item button-signup">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <div class="nav-item button-take-test">
                        <a href="{% url 'takequiz' %}">Take Test</a>
                    </div>
                    {%block nav%}
                    {%endblock%}
                {% endif %}
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        {% block script %}{%endblock%}
    </body>
    
</html>
