{% extends "quizapp/layout.html" %}
{% load static %}

{% block body %}
    {%if message%}
        <p>{{message}}</p>
    {%endif%}
    <p class="title">{{test.title}}</p>
    <p class="s1">Quiz ID: <span>{{quizid}}</span></p>
    <p class="s1">Your ID: <span>{{quiztaker}}</span></p>
    <p class="s3">{{test.description}}</p>

    <div class="q-f">
        <form action="{% url 'submit' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="quizid" value="{{quizid}}">
            <input type="hidden" name="quiztaker" value="{{quiztaker}}">
            <h3>Questions</h3>
            <ol>
                {% for question in questions %}
                    <li>{{question.question}}</li>
                    <input type="radio" id="{{question.id}}a" name="{{question.id}}" value="a">
                    <label for="{{question.id}}a">{{question.option_a}}</label><br>
                    <input type="radio" id="{{question.id}}b" name="{{question.id}}" value="b">
                    <label for="{{question.id}}b">{{question.option_b}}</label><br>
                    <input type="radio" id="{{question.id}}c" name="{{question.id}}" value="c">
                    <label for="{{question.id}}c">{{question.option_c}}</label><br>
                    <input type="radio" id="{{question.id}}d" name="{{question.id}}" value="d">
                    <label for="{{question.id}}d">{{question.option_d}}</label><br>
                {% endfor %}
            </ol>
            
            <input class="btn2" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}