{% extends "quizapp/layout.html" %}
{% load static %}

{% block body %}
    <h2>Tests/Quiz</h2>
    <div>
        <h3>{{test.title}}</h3>
        <h3>{{test.duration}} minutes</h3>
        <h3><span id="number-of-questions">{{test.number_of_questions}}</span> questions</h3>
        <h3><span id="number-of-questions">{{savedQCount}}</span> questions saved</h3>
        <p>{{test.description}}</p>
    </div>
    <button type="button" id="add-question" onclick="showQTemp()">Add Questions</button>
    <form action="{% url 'tests' test.id %}" method="post">
        {% csrf_token %}
        {% for i in numOfQ %}
            <div id ="test-questions" class="test-question">
                <input type="text" name="question" id="" placeholder="Question" required>
                <input type="text" name="option_a" id="" placeholder="Option A">
                <input type="text" name="option_b" id="" placeholder="Option B">
                <input type="text" name="option_c" id="" placeholder="Option C">
                <input type="text" name="option_d" id="" placeholder="Option D">
                <label for="answer">Answer</label>

                <select id="answer" name="answer" required>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                </select>
        {% endfor %}
        {% if numOfQ%}
            <input class="btn btn-primary" type="submit" value="Next">
        {% endif %}
        </div>
    </form>
    <h3>Questions</h3>

{% endblock %}
{% block script%}
    <script type="application/javascript" src="{% static 'quizapp/js/questions.js' %}"></script>
{% endblock %}