{% extends "quizapp/layout.html" %}
{% load static %}

{% block body %}
    <h2>Tests/Quiz</h2>
    <div>
        <h3>{{test.title}}</h3>
        <h3>Test ID: {{test.id}}</h3>
        <h4>{{noq}} questions</h4>
        <p>{{test.description}}</p>

    </div>
    <form action="{% url 'delete' test.id %}">
        <input type="submit" value="Delete Test">
    </form>
    
    <form action="{% url 'tests' test.id %}" method="post">
        {% csrf_token %}
            <div id ="test-question-input" class="test-question-input">
                <input type="text" name="question" id="" placeholder="Question" required>
                <input type="text" name="option_a" id="" placeholder="Option A">
                <input type="text" name="option_b" id="" placeholder="Option B">
                <input type="text" name="option_c" id="" placeholder="Option C">
                <input type="text" name="option_d" id="" placeholder="Option D">
                <label for="answer">Answer</label>

                <select id="answer" name="answer" required>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                </select>
            </div>
        <input class="btn btn-primary" type="submit" value="Add Question">
    </form>

    <h3>Questions</h3>
    <ol>
        {% for question in questions%}
            <li>{{question.question}}</li>
            <ul>
                <li>{{question.option_a}}</li>
                <li>{{question.option_b}}</li>
                <li>{{question.option_c}}</li>
                <li>{{question.option_d}}</li>
            </ul>
            <span>Answer: {{question.answer}}</span>
        {% endfor %}
    </ol>

    <h3>Summary</h3>
    <ol>
        {% for responder in responders %}
            <li>{{responder.responder}}</li>
            <span>{{responder.score}}/{{noq}}</span>
            <span>{{x}}</span>
            <span>{{y}}</span>
        {% endfor %}
    </ol>



{% endblock %}
{% block script%}
    <script type="application/javascript" src="{% static 'quizapp/js/questions.js' %}"></script>
{% endblock %}